@page "{id:int?}"
@model RideServiceGroup2.Web.Pages.CreateRideModel
@{
    ViewData["Title"] = "CreateRide";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="addProducts">
    <h2>@Model.HeaderText</h2>
    <form method="post" asp-page-handler="@Model.PageHandler">
        @Html.AntiForgeryToken()
        <input asp-for="Ride.Id" hidden/>
        <label asp-for="Ride.Name">Navn:</label>
        <input asp-for="Ride.Name" placeholder="Skriv navn" value="@Model.Ride.Name" />
        <br />
        <label asp-for="Ride.ImgUrl">Navn på billede:</label>
        <input asp-for="Ride.ImgUrl" placeholder="Fx orkanen.jpg" value="@Model.Ride.ImgUrl" />
        <br />
        <label asp-for="Ride.Category">Kategori:</label>
        <select asp-for="Ride.Category.Id">
            @foreach (RideCategory category in Model.Categories)
            {
                if (category.Name == Model.CategoryValue)
                {
                    <option value="@category.Id" selected>@category.Name</option>
                }
                else
                {
                    <option value="@category.Id">@category.Name</option>
                }
            }
        </select>
        <br />
        <label asp-for="Ride.Description">Beskrivelse:</label>
        <br />
        <textarea asp-for="Ride.Description"></textarea>
        <br />
        <input type="submit" value="@Model.SubmitValue" />
    </form>
</div>