@page
@model RideServiceGroup2.Web.Pages.SearchRideModel
@{
    ViewData["Title"] = "SearchRide";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<article>
    <form method="post">
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Søg efter forlystelse</legend>
            <label asp-for="name"></label>
            <input asp-for="name"/><br>
            <label asp-for="category"></label>

            <select asp-for="category" asp-items="@(new SelectList(Model.rideCategories, "Name", "Name"))">
                <option value="all">Alle</option>
            </select><br />

            <label asp-for="status"></label>
            <select asp-for="status" asp-items="Html.GetEnumSelectList<Status>()">
                <option value="0">Alle</option>
            </select><br />
            
            <input type="submit" value="Søg" />
        </fieldset>
    </form>
</article>


@foreach (Ride ride in Model.rides)
{
    <article>
        <h3>@ride.Name</h3>
        <hr>
        <a href="Ride/@ride.Id">
            <img src="@ride.ImgUrl" alt="@ride.Name">
        </a>
        <p>@ride.GetShortDescription()</p>
        <div>
            <p>Status: @ride.TranslateStatus()</p>
        </div>
    </article>
}

